.App {
  margin: 0 auto;
  max-width: 500px;
}

/* Desktop Styles */
@media (min-width: 600px) {
  .category-card.selected img,
  img {
    border-radius: 16px;
  }

  .category-image {
    border-radius: 0;
  }

  .paragraph-text {
    margin: 24px 0 !important;
  }
}

body {
  background-color: #151515;
  /* background: linear-gradient(45deg, black, #232323); */
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin:0;
  font-size: 16px;
}

h2 {
  margin: 0;
}

.paragraph-container {
  margin-bottom: 200px;
  height: fit-content;
  transition: all 0.3 ease-in-out;
}

.paragraph {
  display: flex;
  flex-direction: column;
}

.banner {
  width: 50%;
  margin: auto;
}

/* ------------ BUTTON ----------- */

/* Default state */
/* Normal state */
button {
  background: linear-gradient(45deg, #9800ac, #81009e);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  line-height: 2rem;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.last-para-wrapper button {
  color: #1a1a1a;
  background: linear-gradient(45deg, #fdd80d, #e5c200);
  border: none;
}

.last-para-wrapper button:hover {
  color: #1a1a1a;
  background: linear-gradient(45deg, #e5c200, #fdd80d);
}

.last-para-wrapper button:active {
  color: #1a1a1a;
  background: linear-gradient(45deg, #c7a600, #d4b100);
}

.last-para-wrapper button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(253, 216, 13, 0.5);
}

/* Hover state */
button:hover {
  background: linear-gradient(45deg, #e600ff, #a800c4);
  color: #ffffff;
  border-color: #e600ff;
}

/* Active state */
button:active {
  background: linear-gradient(45deg, #b200d3, #700089);
  color: #f0f0f0;
  border-color: #b200d3;
}

/* Disabled state */
button:disabled {
  background: linear-gradient(45deg, #674a75, #705c7d);
  color: #c2c2c2;
  cursor: not-allowed;
  border-color: #a68fb1;
}

/* Secondary Button */
button.secondary {
  background: linear-gradient(45deg, #232323, #232323);
  color: #ffffff;
}

/* Secondary Button Hover state */
button.secondary:hover {
  background: linear-gradient(45deg, #5a5a5a, #2d2d2d);
  color: #ffffff;
  border-color: #5a5a5a;
}

/* Secondary Button Active state */
button.secondary:active {
  background: linear-gradient(45deg, #1a1a1a, #0d0d0d);
  color: #f0f0f0;
  border-color: #1a1a1a;
}

/* Secondary Button Disabled state */
button.secondary:disabled {
  background: linear-gradient(45deg, #a3a3a3, #707070);
  color: #d0d0d0;
  cursor: not-allowed;
  border-color: #a3a3a3;
}

.text-field:focus {
  border: 1px solid #9100a9;
  outline: none;
}



.form-container {
  margin: 24px;
}

.btn-secondary {
  background-color: transparent;
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid #4d4d4d;
  border-radius: 200px;
  cursor: pointer;
  line-height: 2rem;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.image-loader-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-buttons-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 200px;
    background: linear-gradient(45deg, #9800ac, #81009e)
}

.height-trans {
opacity: 1;
transition: all 0.3s cubic-bezier(0.77, 0, 0.24, 1);
display: flex;
flex-direction: column;
width: 50%;
margin: auto;
height: 3rem;
}

.hide {
height: 0;
opacity: 0;
transition: all 0.3s cubic-bezier(0.77, 0, 0.24, 1)
}


progress {
  width: 100%;
  height: 8px;
  background-color: transparent;
  border: none;
}
progress::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 5px;
}
progress::-webkit-progress-value {
  background: linear-gradient(45deg, #9800ac, #81009e);
  border-radius: 5px;
}
progress::-moz-progress-bar {
  background: linear-gradient(45deg, #9800ac, #81009e);
  border-radius: 5px;
}

.img-container {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

.img-wrapper.fade-before {
  opacity:1;
  transition: all 1s ease-in-out;
}

.img-wrapper {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.img-container img  {
  opacity:1;
  transition: all 1s ease-in-out;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background-color: transparent;
  border: none;
  position: relative;
  background-color: #1a1a1a;
  /* border-radius: 5px; */
}

.progress-bar-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* width: 50%; You can update this value based on your progress value */
  background: linear-gradient(45deg, #ab00c1, #a200c6);
  border-radius: 0px;
  transition: width 0.3s ease-in-out;
}


.form-buttons-container button {
  background: transparent;
}

.toggle {
  width: 100%;
}

.toggle-left {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 1px solid #660075;
}

.toggle-right {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
}



.paragraph-banner-container {
  /* margin: 24px; */
}

.paragraph-text {
  margin: 24px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
}

.banner-container {
  margin: 24px;
  opacity: 1;
  text-align: center;
  padding: 8px 16px;
  height: fit-content;
  line-height: 0px;
  background-color: #282828;
  border: 1px solid #3a3a3a;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
}

.banner-container.hidden {
  opacity: 0;
  display: block;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
}

.gif-buttons-container {
  display: flex;
  flex-direction: column;
  /* margin: 24px; */
}

.explaination {
  /* margin-top:24px; */
  display: flex;
  flex-direction: column;
  color: #bdbdbd;
  font-size: 0.8rem;
  /* line-height: 0; */
  height: fit-content;
  gap: 0.5rem;
}

.explaination p {
  margin-bottom: 0;
}



.category-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: 24px; */
}

.category-card {
  display: flex;
  /* align-items: center; */
  margin-bottom: 1rem;
  width: 100%;
  height: 190px;
  margin: 24px;
  background-color: #0a0a0a;
  /* border: 1px solid #2d2d2d; */
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-card.selected {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.category-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.category-title {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.category-description {
  margin-bottom: 0;
  font-weight: 300;
}

.category-image {
  width: 140px;
  height: 100%;
  max-height: 220px;
  object-fit: cover;
  transition: width 0.3s;
}

.selected .category-image {
  width: 100%;
}

.hidden {
  display: none !important;
}

.transparent {
  opacity: 0;
}

.selected .category-info {
  display: none;
}

.category-card {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.category-card.selected {
  margin: 0;
  border-radius: 0;
  border: none;
}

.image-loader-description {
  padding: 16px;
  background-color: #2e2e2e;
  border-radius: 8px;
}

.image-loader-container {
  margin-bottom: 24px;
}

.fade {
  opacity: 1;
  height: auto;
  transition: height 500ms ease-in-out;
}

.fade-hidden {
  opacity: 0;
  height: 0px;
  transition: height 500ms ease-in-out;
}

.text-input-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text-field {
  border-radius: 8px;
  font-size: 1rem;
  padding: 16px;
  background-color: #000000;
  border: 0;
  color: white ;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 24px;
}

.opening-text {
  font-size: 3rem;
  font-weight: 100;
  line-height: 3rem;
}

.text-highlight {
  color: #ff1bf4;
}

.sub-title {
  color: #cacaca;

}

.value-header {
  font-size:  3rem;
  transition: font-size 0.3s ease-in-out;
}

.last-para-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.last-para-wrapper a {
  display: flex;
  flex-direction: column;
  color: transparent;
  width: 100%;
}

.description-container {
  /* background-color: #282828; */
}

.last-paragrah {
  padding: 24px;
}


.footer {
  font-size: 0.8rem;
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  color: grey;
}

a {
  color: #ff1bf4 ;
  text-decoration: none;
}

.secondary-link a {
  color: grey;
}